üß† AI Job Market Analysis ‚Äî Data Cleaning

This notebook focuses on preparing and cleaning the AI job market dataset to ensure accurate, reliable analysis.

**Objectives:**
- Handle missing and inconsistent data  
- Standardize column names and formats  
- Remove duplicates and irrelevant records  
- Prepare a clean dataset for visualization

**Tools Used:** Python, Pandas, NumPy  
**Dataset:** AI Job Market Dataset (Kaggle)

### üì¶ Importing Required Libraries
We import Python libraries used for data manipulation and cleaning.  
`Pandas` handles structured data, and `NumPy` helps with numerical operations.

In [37]:
import pandas as pd
import numpy as np


path="C:\\Users\\akash\\Downloads\\AI_jobs\\ai_job_market.csv"
df = pd.read_csv(path)

### üìÇ Loading the Dataset
We load the raw AI job dataset into a DataFrame for cleaning and exploration.

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   job_id            2000 non-null   int64
 1   company_name      2000 non-null   object
 2   industry          2000 non-null   object
 3   job_title         2000 non-null   object
 4   skills_required   2000 non-null   object
 5   experience_level  2000 non-null   object
 6   employment_type   2000 non-null   object
 7   location          2000 non-null   object
 8   salary_range_usd  2000 non-null   object
 9   posted_date       2000 non-null   object
 10  company_size      2000 non-null   object
 11  tools_preferred   2000 non-null   object
dtypes: int64(1), object(11)
memory usage: 187.6+ KB

In [39]:
# Display the first 5 rows of the dataset to get a quick look at its structure and contents
df.head()

,job_id,company_name,industry,job_title,skills_required,experience_level,employment_type,location,salary_range_usd,posted_date,company_size,tools_preferred
0,1,Foster and Sons,Healthcare,Data Analyst,"NumPy, Reinforcement Learning, PyTorch, Scikit...",Mid,Full-time,"Tracybury, AR",92860-109598,2025-08-20,Large,"KDB+, LangChain"
1,2,"Boyd, Myers and Ramirez",Tech,Computer Vision Engineer,"Scikit-learn, CUDA, SQL, Pandas",Senior,Full-time,"Lake Scott, CU",78523-144875,2024-03-22,Large,"FastAPI, KDB+, TensorFlow"
2,3,King Inc,Tech,Quant Researcher,"MLflow, FastAPI, Azure, PyTorch, SQL, GCP",Entry,Full-time,"East Paige, CM",124496-217204,2025-09-18,Large,"BigQuery, PyTorch, Scikit-learn"
3,4,"Cooper, Archer and Lynch",Tech,AI Product Manager,"Scikit-learn, C++, Pandas, LangChain, AWS, R",Mid,Full-time,"Perezview, FI",50908-123743,2024-05-08,Large,"TensorFlow, BigQuery, MLflow"
4,5,Hall LLC,Finance,Data Scientist,"Excel, Keras, SQL, Hugging Face",Senior,Contract,"North Desireeland, NE",98694-135413,2025-02-24,Large,"PyTorch, LangChain"

In [40]:
# Display the number of rows and columns in the dataset
print("Shape of the dataset:", df.shape)

Shape of the dataset: (2000, 12)

In [41]:
# Display all column names in the dataset
print("\nColumns:\n", df.columns)

Columns:
 Index(['job_id', 'company_name', 'industry', 'job_title', 'skills_required',
       'experience_level', 'employment_type', 'location', 'salary_range_usd',
       'posted_date', 'company_size', 'tools_preferred'],
      dtype='object')

### üîç Checking for Missing Values
We identify columns with missing data to decide how to handle them later.

In [42]:
print("\nMissing Values:\n", df.isnull().sum())

Missing Values:
 job_id              0
company_name        0
industry            0
job_title           0
skills_required     0
experience_level    0
employment_type     0
location            0
salary_range_usd    0
posted_date         0
company_size        0
tools_preferred     0
dtype: int64

In [43]:
# Count the number of unique job titles in the dataset
print("\nUnique Job Titles:", df['job_title'].nunique())

Unique Job Titles: 8

In [44]:
# Count the number of unique company name in the dataset
print("\nUnique Companies:", df['company_name'].nunique())

Unique Companies: 1909

### üßπ Cleaning Date and Skill Columns
We perform two key cleaning steps:
1. Convert the `posted_date` column to datetime format for time-based analysis.  
2. Split the `skills_required` column into a list of individual skills (removing extra spaces).  

Finally, we check the dataset‚Äôs structure using `df.info()` to verify changes.

In [45]:
df['posted_date']= pd.to_datetime(df['posted_date'])
df['skills_required'] = df['skills_required'].apply(
    lambda x: [skill.strip() for skill in x.split(',')] if pd.notna(x) else []
)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   job_id            2000 non-null   int64
 1   company_name      2000 non-null   object
 2   industry          2000 non-null   object
 3   job_title         2000 non-null   object
 4   skills_required   2000 non-null   object
 5   experience_level  2000 non-null   object
 6   employment_type   2000 non-null   object
 7   location          2000 non-null   object
 8   salary_range_usd  2000 non-null   object
 9   posted_date       2000 non-null   datetime64[ns]
 10  company_size      2000 non-null   object
 11  tools_preferred   2000 non-null   object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 187.6+ KB

In [46]:
# Split the 'salary_range_usd' column into 'min_salary' and 'max_salary'
df[["min_salary", "max_salary"]] = df["salary_range_usd"].str.split("-", expand=True)

# Convert the split string values into numeric types (integers/floats)
# This ensures we can perform mathematical operations on salary data
df["min_salary"]=pd.to_numeric(df["min_salary"])
df["max_salary"]=pd.to_numeric(df["max_salary"])

# Correct calculation: (min + max) / 2
df["avg_salary"] = (df["min_salary"] + df["max_salary"]) / 2
df['avg_salary'] = pd.to_numeric(df['avg_salary'], errors='coerce')

In [47]:
# Count the number of job postings per company and select the top 10
job_count=df["company_name"].value_counts().head(10)
job_count

company_name
Johnson LLC        4
Smith Inc          3
Taylor PLC         3
Anderson PLC       3
Martin and Sons    3
Lee Group          3
Sanchez Ltd        3
Williams Ltd       3
Johnson Inc        3
Jones and Sons     3
Name: count, dtype: int64

In [48]:
# 1Ô∏è‚É£ Convert the column to datetime
df['posted_date'] = pd.to_datetime(df['posted_date'], errors='coerce')

# 2Ô∏è‚É£ Extract year and month into new columns
df['year'] = df['posted_date'].dt.year
df['month'] = df['posted_date'].dt.month_name()

In [49]:
df.to_csv("cleaned_data.csv", index=False)